// Colors
$darkCyan: hsl(185, 75%, 38%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(277, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: #ffffff;
$lightGray: rgb(214, 212, 212);
